.full-height{
  height: 100vh;
}
.light-theme-round,
.dark-theme-round,
.grey-theme-round,
.blue-theme-round{
  width: 25px;
  height: 25px;
  border: #fff solid 2px;
  border-radius: 100px;
  cursor: pointer;
  margin-left: 5px;
}
.light-theme-round{
  background: #fff;
  border: #d4d4d4 solid 2px;
}
.dark-theme-round{
  background: #333;
}
.grey-theme-round{
  background: #666;
}
.blue-theme-round{
  background: #5050a2;
}
.bg-blue{
  background-color: #242482 !important;
}
